<section id="about" class="full-height px-lg-5">
  <div class="container">
    <div class="row pb-4" data-aos="fade-up">
      <div class="col-lg-8">
        <h6 class="text-brand">ABOUT</h6>
        <h1>My Education & Experiance</h1>
      </div>
    </div>

    <div class="row gy-5">
      <div class="col-lg-6">
        <h3 class="mb-4" data-aos="fade-up" data-aos-delay="300">Education</h3>
        <div class="row gy-4">
          <div class="col-12" data-aos="fade-up" data-aos-delay="600">
            <app-about-me-card
              title="Master of Software Engineering"
              subtitle="De Mars University Venston Bay (2015 - 2020)"
              paragraph="All we are more and design lorem ipsum dolor creativity sit amet consectetur adipisicing elit"
            ></app-about-me-card>
          </div>

          <div class="col-12" data-aos="fade-up" data-aos-delay="600">
            <app-about-me-card
              title="Master of Software Engineering"
              subtitle="De Mars University Venston Bay (2015 - 2020)"
              paragraph="All we are more and design lorem ipsum dolor creativity sit amet consectetur adipisicing elit"
            ></app-about-me-card>
          </div>

          <div class="col-12" data-aos="fade-up" data-aos-delay="600">
            <app-about-me-card
              title="Master of Software Engineering"
              subtitle="De Mars University Venston Bay (2015 - 2020)"
              paragraph="All we are more and design lorem ipsum dolor creativity sit amet consectetur adipisicing elit"
            ></app-about-me-card>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <h3 class="mb-4" data-aos="fade-up" data-aos-delay="300">Experiance</h3>
        <div class="row gy-4">
          <div class="col-12" data-aos="fade-up" data-aos-delay="600">
            <app-about-me-card
              title="Applications developer"
              subtitle="Twitter (2018 - 2020)"
              paragraph="All we are more and design lorem ipsum dolor creativity sit amet consectetur adipisicing elit"
            ></app-about-me-card>
          </div>

          <div class="col-12" data-aos="fade-up" data-aos-delay="600">
            <app-about-me-card
              title="Applications developer"
              subtitle="Twitter (2018 - 2020)"
              paragraph="All we are more and design lorem ipsum dolor creativity sit amet consectetur adipisicing elit"
            ></app-about-me-card>
          </div>

          <div class="col-12" data-aos="fade-up" data-aos-delay="600">
            <app-about-me-card
              title="Applications developer"
              subtitle="Twitter (2018 - 2020)"
              paragraph="All we are more and design lorem ipsum dolor creativity sit amet consectetur adipisicing elit"
            ></app-about-me-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
