@use "../../../styles.scss";

.navbar {
  background-color: styles.$color-base;
}

.navbar .nav-link {
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}

.navbar .nav-link:hover {
  color: styles.$color-brand;
}

.navbar .nav-link.active {
  color: styles.$color-brand;
}
