<section id="home" class="full-height px-lg-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-10">
        <h1 class="display-4 fw-bold" data-aos="fade-up">
          I'M A <span class="text-brand">UI/UX DESIGNER</span> FROM LONDON, UK
        </h1>
        <p class="lead mt-2 mb-4" data-aos="fade-up" data-aos-delay="300">
          I am John Doe, And I craft high-performing and delightful experiences
          tailored and conversion-focused
        </p>
        <div data-aos="fade-up" data-aos-delay="600">
          <a href="#work" class="btn btn-brand me-3">Explore My Work</a>
          <a href="#" class="link-custom">Call: (233) 3454 2342</a>
        </div>
      </div>
    </div>
  </div>
</section>
