<section id="reviews" class="full-height px-lg-5">
  <div class="container">
    <div class="row pb-4" data-aos="fade-up">
      <div class="col-lg-8">
        <h6 class="text-brand">REVIEWS</h6>
        <h1>What our subscribers say</h1>
      </div>
    </div>

    <div class="row gy-4">
      <div class="col-md-4" data-aos="fade-up">
        <app-review-card
          paragraph="Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel quae facilis fugiat molestias ab illum excepturi, qui optio modi asperiores, delectus maiores!"
          name="Jon Doe"
          socialMedia="X"
        ></app-review-card>
      </div>

      <div class="col-md-4" data-aos="fade-up" data-aos-delay="300">
        <app-review-card
          paragraph="Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel quae facilis fugiat molestias ab illum excepturi, qui optio modi asperiores, delectus maiores!"
          name="Jon Doe"
          socialMedia="X"
        ></app-review-card>
      </div>

      <div class="col-md-4" data-aos="fade-up" data-aos-delay="600">
        <app-review-card
          paragraph="Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel quae facilis fugiat molestias ab illum excepturi, qui optio modi asperiores, delectus maiores!"
          name="Jon Doe"
          socialMedia="X"
        ></app-review-card>
      </div>
    </div>
  </div>
</section>
