<section id="services" class="full-height px-lg-5">
  <div class="container">
    <div class="row pb-4" data-aos="fade-up">
      <div class="col-lg-8">
        <h6 class="text-brand">SERVICES</h6>
        <h1>Services That I Provide</h1>
      </div>
    </div>
    <div class="row gy-4">
      <app-service-card
        class="col-md-4"
        data-aos="fade-up"
        icon="las la-feather"
        title="UX Design"
        paragraph="I craft high-performing and delightful experiences tailored and conversion-focused"
      ></app-service-card>
      <app-service-card
        class="col-md-4"
        data-aos="fade-up"
        data-aos="fade-up"
        icon="las la-pencil-ruler"
        title="Branding"
        paragraph="I craft high-performing and delightful experiences tailored and conversion-focused"
      ></app-service-card>
      <app-service-card
        class="col-md-4"
        data-aos="fade-up"
        data-aos="fade-up"
        icon="las la-laptop-code"
        title="Web Designing"
        paragraph="I craft high-performing and delightful experiences tailored and conversion-focused"
      ></app-service-card>
    </div>
  </div>
</section>
