<section id="services" class="full-height px-lg-5">
  <div class="container">
    <div class="row pb-4" data-aos="fade-up">
      <div class="col-lg-8">
        <h6 class="text-brand">SERVICES</h6>
        <h1>Services That I Provide</h1>
      </div>
    </div>

    <div class="row gy-4">
      <div class="col-md-4" data-aos="fade-up">
        <div class="service p-4 bg-base rounded-4 shadow-effect">
          <div class="iconbox rounded-4">
            <i class="las la-feather"></i>
          </div>
          <h5 class="mt-4 mb-2">UX Design</h5>
          <p>
            I craft high-performing and delightful experiences tailored and
            conversion-focused
          </p>
          <a href="#" class="link-custom">Read More</a>
        </div>
      </div>

      <div class="col-md-4" data-aos="fade-up" data-aos-delay="300">
        <div class="service p-4 bg-base rounded-4 shadow-effect">
          <div class="iconbox rounded-4">
            <i class="las la-pencil-ruler"></i>
          </div>
          <h5 class="mt-4 mb-2">Branding</h5>
          <p>
            I craft high-performing and delightful experiences tailored and
            conversion-focused
          </p>
          <a href="#" class="link-custom">Read More</a>
        </div>
      </div>

      <div class="col-md-4" data-aos="fade-up" data-aos-delay="600">
        <div class="service p-4 bg-base rounded-4 shadow-effect">
          <div class="iconbox rounded-4">
            <i class="las la-laptop-code"></i>
          </div>
          <h5 class="mt-4 mb-2">Web Designing</h5>
          <p>
            I craft high-performing and delightful experiences tailored and
            conversion-focused
          </p>
          <a href="#" class="link-custom">Read More</a>
        </div>
      </div>
    </div>
  </div>
</section>
